button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.2em;
  cursor: pointer;
}

/* Laranja: #FF9500 */

.orange {
  background-color: #FF9500;
  color: white;
}

.gray {
  background-color: #505050;
  color: white;
}

.wrapper {
  background-color: #0b090a;
  border-radius: 1em;
  padding: 1em;
  margin-top: 0;
  text-align: center;
}

.result {
  color: white;
  text-align: right;
  margin: 1em;
  font-size: 4em;
}
